<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.wmt.smartparking.mapper.ParkingLotMapper">

    <insert id="insertParkingLot" parameterType="com.wmt.smartparking.dto.ParkingLotDto">
        INSERT INTO parking_lot (location,
                                 capacity,
                                 created_by,
                                 updated_by)
        VALUES (#{location},
                #{capacity},
                'system',
                'system')
    </insert>

    <update id="updateParkingLot" parameterType="int">
        UPDATE parking_lot
        SET state_type = #{stateType},
            updated_by = 'system'
    </update>

    <select id="queryParkingLotList" resultType="com.wmt.smartparking.model.ParkingLot">
        SELECT
        lot_id as lotId,
        location,
        capacity,
        created_by as createdBy,
        updated_by as updatedBy,
        state_type as stateType,
        created_at as createdAt,
        updated_at as updatedAt
        FROM parking_lot
        <where>
            <if test="lotId != null">
                lot_id = #{lotId}
            </if>
            <if test="stateType != null and stateType != ''">
                state_type = #{stateType}
            </if>
        </where>
        ORDER BY capacity desc
    </select>

    <select id="checkLocation" resultType="java.lang.Integer">
        SELECT count(1)
        FROM parking_lot
        WHERE location = #{location}
    </select>

</mapper>