<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.wmt.smartparking.mapper.VehicleMapper">

    <insert id="insertVehicle" parameterType="com.wmt.smartparking.dto.VehicleDto">
        INSERT INTO vehicle (plate_id,
                             owner_name,
                             vehicle_type,
                             created_by,
                             updated_by)
        VALUES (#{plateId},
                #{ownerName},
                #{vehicleType},
                'system',
                'system')
    </insert>

    <update id="updateVehicle">
        UPDATE vehicle
        SET lot_id = #{lotId},
            updated_by = 'system'
        WHERE plate_id = #{plateId}
    </update>

    <select id="queryVehicleList" resultType="com.wmt.smartparking.model.Vehicle" parameterType="com.wmt.smartparking.dto.VehicleDto">
        SELECT
        lot_id as lotId,
        plate_id as plateId,
        owner_name as ownerName,
        vehicle_type as vehicleType,
        created_by as createdBy,
        updated_by as updatedBy,
        created_at as createdAt,
        updated_at as updatedAt
        FROM vehicle
        <where>
            <if test="lotId != null and lotId != ''">
                lot_id = #{lotId}
            </if>
            <if test="ownerName != null and ownerName != ''">
                and owner_name = #{ownerName}
            </if>
            <if test="plateId != null and plateId != ''">
                and plate_id = #{plateId}
            </if>
            <if test="vehicleType != null">
                and vehicle_type = #{vehicleType}
            </if>
        </where>
        ORDER BY updated_at desc
    </select>

    <select id="getVehicleByPlate" resultType="com.wmt.smartparking.model.Vehicle" parameterType="java.lang.String">
        SELECT  lot_id as lotId,
                vehicle_type as vehicleType,
        FROM vehicle
        WHERE plate_id = #{plateId}
    </select>

    <select id="getLotIdByVehicle" resultType="java.lang.String" parameterType="com.wmt.smartparking.dto.VehicleDto">
        SELECT lot_id
        FROM vehicle
        WHERE plate_id = #{plateId}
          AND lot_id != ''
    </select>

</mapper>